PORT=3000
NODE_ENV=dev
APP_ENV=dev
LOG_LEVEL=info
STORE_BACKEND=memory # Change to 'dynamodb' later for cloud
SERVICE_NAME=skynet-ops-audit-service
METRICS_DEMO_ENABLED=true
AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=SkynetEvents